<h1>Все товары</h1>
<h3>@Model.currCategory</h3>  
@{
    foreach (var product in Model.allProducts)
    {
        <div>
            <h2>Название товара: @product.name</h2>
            <p>Цена: @product.price.ToString("c")</p>
        </div>            
    }
}
